---
# CV Styles
---

@import url(fonts/open_sans.css);

$dark-blue: #00578A;
$mid-blue: #0588BC;
$light-blue: #CAE4F1;
$green: #298F00;

body.cv {
  font-family: 'Open Sans', sans-serif;
  display: flex;

  dl {
    margin-top: 0.25em;
  }

  dt {
    color: #555;

    &:after {
      content: ": ";
    }
  }

  dd {
    margin-bottom: 0.5em;
  }

  h1, h2, h3, h4, h5 {
    margin: 0.5em 0em;
    color: $dark-blue;
  }

  p {
    margin-top: 0em;
  }

  a {
    color: $mid-blue;
  }

  address {
    width: 12em;
    margin: 0em 1em;

      font-style: normal;

    .phone a {
      text-decoration: none;
      color: #000;
    }

    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 0.5em;
      }
    }
  }

  article {
    max-width: 50em;

    .company-info {
      display: flex;
      margin-bottom: 0.5em;

      img {
        padding-right: 2em;
        max-width: 16em;
        min-width: 16em;
        max-height: 4em;
        width: auto;
        height: auto;
      }
    }

    .location-date {
      display: flex;
      margin-bottom: 1em;

      span {
        width: 18em;
      }
    }

    .projects>section + section, .projects + section {
      border-top: dashed 1px $light-blue;
      padding-top: 0.5em;
    }

    .experience>section + section {
      border-top: solid 1px $dark-blue;
      padding: 1em 0em;
    }

    &>section + section {
      border-top: solid 2px $dark-blue;
      padding: 1em 0em;
    }

    ul {
      margin: 0em 0em 1em;
      padding-left: 1.5em;
      list-style: circle;

      &.two-columns {
        display: flex;
        flex-wrap: wrap;

        li {
          padding-right: 1em;
          width: 23em;
        }
      }

      &.inline {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;

        li + li::before {
          content: "-";
          margin: 0em 0.5em;
          color: $dark-blue;
          font-weight: bold;
        }
      }
    }
  }
}

@media print {
  address {
    position: fixed;
    top: 0;
  }
}
