---
# CV Styles
---

@import url(fonts/open_sans.css);

$dark-blue: #00578A;
$mid-blue: #0588BC;
$light-blue: #CAE4F1;
$desk: #CCC;
$paper: #FFF;
$sidebar-width: 3cm;
$page-width: 21cm;
$page-height: 26cm;
$top-margin: 0.75cm;
$inside-margin: 0.25cm;
$outside-margin: 1cm;

html {
  background-color: $desk;
}

body.cv {
  font-size: .28cm;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  width: $page-width;
  margin: auto;
  background-color: $paper;

  aside {
    padding-right: $inside-margin;
    width: $sidebar-width;
    font-style: normal;

    address {
      height: $page-height;
    }

    .phone a {
      text-decoration: none;
      color: #000;
    }

    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 0.5em;
      }
    }
  }

  article {
    padding-left: $inside-margin;

    .projects>section  {
    }

    .experience>section + section {
      margin-top: 2em;
    }

    &>section + section {
      margin-top: 2.5em;
    }
  }

  .company-info {
    display: flex;

    img {
      max-width: 16em;
      max-height: 4em;
      width: auto;
      height: auto;
    }

    span {
      min-width: 18em;
    }
  }

  .location-date {
    display: flex;
    margin: 0.5em 0 0;

    span {
      min-width: 18em;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $dark-blue;
    margin: 0.5em 0em;

    &:first-child {
      margin-top: 0em;
    }
  }

  p {
    margin: 0.5em 0em;
  }

  a {
    color: $mid-blue;
  }

  ul {
    padding-left: 1.5em;
    list-style: circle;

    &.two-columns {
      display: flex;
      flex-wrap: wrap;

      li {
        padding-right: 2em;
        width: 40%;
      }
    }
  }

  ul.inline {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    li + li::before {
      content: "•";
      margin: 0 0.5em;
      color: $dark-blue;
      font-weight: bold;
    }
  }

  dl {
    display: flex;
    flex-wrap: wrap;

    dt {
      color: $dark-blue;
      width: 18em;
    }

    dd {
      max-width: 65%;
      margin: 0em 0em 1em 0em;

      &:last-child {
          margin: 0em;
      }
    }
  }
}

@media screen {
  body.cv {
    padding: $top-margin $outside-margin;
    
    .for-printing {
      display: none;
    }

    button {
      left: calc(-2em - #{$outside-margin});
      padding-left: 2em;
      position: absolute;
      background-color: $mid-blue;
      color: #fff;
      border: none;
      border-radius: .5em 0 0 .5em
    }

    aside {
        position: fixed;
      button {
        top: 0px;
      }
    }
    article {
      margin-left: $sidebar-width - $inside-margin;
    }
  }
}

@media print {
  body.cv {
    button {
      display: none;
    }

    aside {
      address {
        page-break-after: always;
        page-break-inside: avoid;
        button {
          display: none;
        }
      }
    }

    article {
      .projects>section  {
        page-break-inside: avoid;
      }

      >section:not(.experience) {
        page-break-inside: avoid;
      }
    }
  }
}
