---
layout: default
---

<div class="home">
  <p class="post-meta">
    <a href="{{ site.github_urls.new }}/_posts">📄 New</a>
  </p>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> 
          <span class="post-meta">
            {{ post.date | date: "%b %-d, %Y" }}
            {% if post.last_edit %}<small>(edited: {{post.last_edit | date: "%b %-d, %Y"}}) </small>{% endif %}
          </span>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | prepend: site.baseurl }}">via RSS</a></p>

</div>
