---
layout: default
---

<div class="home">
    <div class="post-header">
        <span class="category">
            <label for="categories">Category :</label>
            <select name="categories" id="category-choice">
                <option value="all" selected>all</option>
                {% assign categories = site.categories | sort %} {% for category
                in categories %}
                <option value="{{ category.first }}">
                    {{ category.first }}
                </option>
                {% endfor %}
            </select>
        </span>
    </div>

    <ul class="blog-list">
        {% for post in site.posts %}
        <li class="{{ post.categories }}">
            <span class="title">
                <a
                    class="post-link"
                    href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title }}
                </a>
                <span class="category">{{ post.categories }}</span>
            </span>
            <span class="edit">
                {% if post.last_edit %} edited: {{post.last_edit | date: "%b
                %-d, %Y"}} {% endif %}
            </span>
            <span class="date"> {{ post.date | date: "%b %-d, %Y" }} </span>
        </li>
        {% endfor %}
    </ul>

    <p class="rss-subscribe">
        subscribe
        <a href="{{ '/feed.xml' | prepend: site.baseurl }}">via RSS</a>
    </p>
</div>

<script>
    document.getElementById("category-choice").onchange = function (event) {
        const target = event.target.value;
        document.querySelectorAll(".blog-list>li").forEach((node) => {
            node.style.display =
                target == "all" || target == node.className ? "" : "none";
        });
    };
</script>
