<script>
    [...document.querySelectorAll(".leetcode>li")].forEach(li => {
                if(!li.dataset.slug) {
                    const slug = li.innerHTML;
                    const url = `https://leetcode.com/problems/${slug}`;

                    li.innerHTML = `
                        <data class="status">⬛ ⚪</data>
                        <a href="${url}" class="link">${slug}</a>
                        <data class="stats"></data>`;
                    li.classList.add("grid");
                    li.dataset.slug = slug
                };
            });
</script>