/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

html {
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    max-width: 26cm;
    margin: auto;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

/**
 * Lists
 */
ul,
ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

dl {
    display: grid;
    grid-template-columns: fit-content(40%) auto;

    dt {
        color: $dark-green;
        font-weight: bolder;
        grid-column: 1;
    }

    dd {
        margin-left: 1em;
        grid-column: 2;
    }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

/**
 * Links
 */
a {
    color: $brand-color;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

/**
 * Blockquotes
 */
blockquote {
    border-left: 4px solid $grey-color;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;

    > :last-child {
        margin-bottom: 0;
    }
}

blockquote.dark-blue {
    border-left-color: lighten($dark-blue, 20%);
}
blockquote.darker-blue {
    border-left-color: lighten($darker-blue, 20%);
}
blockquote.mid-blue {
    border-left-color: lighten($mid-blue, 20%);
}
blockquote.light-blue {
    border-left-color: lighten($light-blue, 20%);
}
blockquote.dark-green {
    border-left-color: lighten($dark-green, 10%);
}
blockquote.darker-green {
    border-left-color: lighten($darker-green, 20%);
}
blockquote.light-green {
    border-left-color: lighten($light-green, 20%);
}

/**
 * Code formatting
 */
pre:not(.mermaid) {
    font-size: 15px;
    padding: 8px 12px;
    overflow-x: auto;
    background-color: #2a2a2a;
    color: #ddd;
    border-radius: 3px;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.code-title {
    &:has(+ div) {
        margin: 0;
        background-color: $light-blue;
        background: linear-gradient(
            $light-blue 10%,
            darken($light-blue, 5%) 50%,
            $light-blue 90%
        );
        border: 2px solid $light-blue;
        border-radius: 2px 2px 0 0;
        border-bottom: 0;
    }

    & > strong {
        background-color: $background-color;
        margin-left: 0.25rem;
        padding: 0.1rem 0.5rem;
        border-radius: 0.5rem;
    }

    & + div pre {
        border: 2px $light-blue solid;
        border-radius: 0px;
    }
}

/*
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/*
*  Styled Table
*/

table.styled {
    margin: auto auto 1em;
    box-shadow: 0 0 0.25em $mid-blue;
    border-collapse: collapse;
    font-size: 0.9em;

    thead tr {
        background-color: $dark-blue;
        color: $paper;
        text-align: left;
    }
    th,
    td {
        padding: 0.7em;
    }

    tbody {
        tr {
            border-bottom: thin solid $light-blue;
        }
        tr:nth-of-type(even) {
            background-color: $light-blue;
        }
    }
}

.columns-2 {
    display: flex;
    flex-wrap: wrap;

    .column {
        padding-right: 1em;
        width: calc(50% - 1em);
    }
}

.columns-3 {
    display: flex;
    flex-wrap: wrap;

    .column {
        padding-right: 1em;
        width: calc(33% - 1em);
    }
}
