#feedback  {
    > form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        input    { width: 80%;  margin: 1px; }
        button   { width: 16%;  margin: 1px; }
        textarea { width: 100%; margin: 1px; }
    }
    .response {
        margin: 10px 0;
        padding: 10px;
        border-radius: 3px 3px 3px 3px;
        display: none;
    }
    &.submitted {
        form      { display: none;  }
        .response { display: block; }
    }
}