/**
 * Site header
 */
.site-header {
    border-bottom: 5px solid $grey-color-dark;
    border-top: 1px solid $grey-color-light;
    min-height: 112px;
    padding: 0 $spacing-unit;

    // Positioning context for the mobile navigation icon
    position: relative;
    background-image:
        url("../images/pikes_peak.jpg"), url("../images/pikes_peak_tail.jpg");
    background-repeat: no-repeat, repeat-x;
    background-size:
        auto 100%,
        1px 100%;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    margin-left: 70px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited,
    &:hover {
        color: $darker-blue;
        text-decoration: none;
    }
}

header,
footer {
    a {
        text-decoration: none;
    }
}

.small {
    font-size: x-small;
    code {
        font-size: x-small;
    }
}

.left {
    float: left;
    margin-right: 2em;
}

.right {
    float: right;
    margin-left: 2em;
}

.clear {
    clear: both;
}

.file {
    color: $dark-blue;
    background-color: $desk;
    padding: 0 0.5em;
    margin-bottom: 0;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        @media (min-width: $on-palm) {
            &:not(:first-child) {
                border-left: 1px solid $dark-blue;
                padding-left: 0.25em;
            }
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-dark;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 0 0.25em;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit;
    background-color: $dark-blue;
    color: $paper;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $paper;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
    a {
        color: $paper;
        &:visited {
            color: $light-blue;
        }
    }
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width: calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(70% - (#{$spacing-unit} / 2));
    width: calc(70% - (#{$spacing-unit} / 2));
}

ul.leetcode > li.grid {
    display: grid;
    grid-template-columns: 3em 2fr 1fr;

    & > data.status {
        grid-column: 1;
    }
    & > a {
        grid-column: 2;
    }
    & > data.stats {
        grid-column: 3;
        data {
            color: $dark-green;
            font-weight: bolder;
        }
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Home / Index
 */

.home {
    margin-left: $spacing-unit;
    padding: 0 0.25em;
    border-left: 2px solid #ebb6d9;

    .rss-subscribe {
        display: flex;
        justify-content: flex-end;
    }
}

.home .header {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 30% 70%;
    .title {
        grid-column: 1;
    }
    .category {
        grid-column: 2;
        a {
            text-decoration: none;
        }
        justify-self: end;
    }
}

.home .blog-list {
    margin: 0;
    list-style: none;
    padding-bottom: 1em;

    > li:first-child {
        border-top: 1.9px solid #26bae2;
    }
    > li {
        display: grid;
        grid-template-columns: 65% 20% 15%;
        border-bottom: 1.9px solid #26bae2;
        margin-left: -$spacing-unit;
        padding-left: $spacing-unit;
        align-items: end;
        line-height: 0.6em;
        height: 1.4em;

        @include media-query($on-palm) {
            padding-right: 0;
            grid-template-columns: 70% 0% 30%;
        }

        .title {
            grid-column: 1;
            a {
                text-decoration: none;
            }

            @include media-query($on-laptop) {
                font-size: 16px;
            }

            @include media-query($on-palm) {
                font-size: 12px;
            }

            .category {
                color: $dark-blue;
                font-weight: bold;
                font-size: small;
            }
        }

        .edit {
            grid-column: 2;
            font-size: small;
            @include media-query($on-palm) {
                display: none;
            }
        }

        .date {
            font-size: small;
            grid-column: 3;
            justify-self: end;
        }
    }
}

.information {
    border-left: 12px solid $dark-green;
    background-color: $light-green;
    padding: 12px;
}

details {
    summary {
        color: grey;
    }
    padding-bottom: 20px;
}

/**
 * Posts
 */
.post {
    margin: $spacing-unit;
}

.post .meta {
    font-size: $small-font-size;
    color: $grey-color;
    text-align: right;
}

.post > .header > .title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }

    a {
        margin-left: -1.25em;
        color: $dark-blue;
        &:hover {
            text-decoration: none;
            color: $mid-blue;
        }
    }
}

.post > .content {
    margin-bottom: $spacing-unit;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 400;
    }

    h1 {
        font-size: 36px;

        @include media-query($on-laptop) {
            font-size: 32px;
        }
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h5 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 15px;
        }
    }

    h6 {
        font-size: 15px;

        @include media-query($on-laptop) {
            font-size: 12px;
        }
    }
}
