/**
 * Site header
 */
.site-header {
    border-bottom: 5px solid $grey-color-dark;
    border-top: 1px solid $grey-color-light;
    min-height: 112px;
    padding: 0 $spacing-unit;

    // Positioning context for the mobile navigation icon
    position: sticky;
    background-color: #b3ccf3;
    background-image:
        url("../images/pikes_peak.jpg"), url("../images/pikes_peak_tail.jpg");
    background-repeat: no-repeat, repeat-x;
    background-size:
        auto 100%,
        1px 100%;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    margin-left: 70px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited,
    &:hover {
        color: $darker-blue;
        text-decoration: none;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        @media (min-width: $on-palm) {
            &:not(:first-child) {
                border-left: 1px solid $dark-blue;
                padding-left: 0.25em;
            }
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-dark;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 0 0.25em;
        }
    }
}
