/**
 * Site header
 */
$header-color: #fff;
$header-background: #b3ccf3;

.site-header {
    border-radius: 0.5em 0.5em 0 0;
    border-top: 1px solid $grey-color-light;
    min-height: 112px;
    padding: 0 $spacing-unit;

    // Positioning context for the mobile navigation icon
    position: sticky;
    background-color: $header-background;
    background-image:
        url("../images/pikes_peak.jpg"), url("../images/pikes_peak_tail.jpg");
    background-repeat: no-repeat, repeat-x;
    background-size:
        auto 100%,
        1px 100%;
}

.site-title {
    font-family: Fira Code VF;
    font-size: 32px;
    line-height: 56px;
    margin-left: 60px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited,
    &:hover {
        color: $header-color;
        text-decoration: none;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        line-height: $base-line-height;

        .title {
            display: none;
        }
        &,
        &:visited,
        &:hover {
            color: $header-color;
            text-decoration: none;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
            svg {
                filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
            }
        }
    }
    button.page-link {
        background-color: $dark-blue;
        border-radius: 0.5em;
    }

    @media (min-width: $on-palm) {
        .page-link + .page-link::before {
            padding: 0 0.3em;
            content: "|";
            text-decoration: none;
        }
    }
}

@include media-query($on-palm) {
    .site-nav {
        width: calc(100% - 0.75em);
        svg {
            filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
        }
        position: absolute;
        top: 9px;
        right: 5px;
        border-radius: 5px;
        text-align: right;

        &:hover {
            background-color: rgba(30, 41, 59, 0.95);
        }

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                color: $header-color;
                width: 18px;
                height: 15px;
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 0.5em 0.5em;
            .title {
                display: inline-block;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}
