---
layout: default
---
<div class="post">

  <header class="header">
    <h1 class="title">{{ page.title }} {% if page.meta %}<span class="tag">{{ page.meta }}</span>{% endif %}</h1>
    <p class="meta">
      {{ page.date | date: "%b %-d, %Y" }}
      {% if page.author %} • {{ page.author }}{% endif %}
      {% if page.last_edit %} • edited: {{page.last_edit | date: "%b %-d, %Y"}} {% endif %}
      • <a class="edit" href="{{ site.github_urls.edit }}/{{ page.path }}">✎ edit</a>
    </p>
  </header>

  <article class="content">
    {{ content }}
  </article>

</div>

{% include plugins.html %}
{% include printable.html %}
{% include comments.html %}
