<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="css/resume.css" rel="stylesheet" type="text/css" />
</head>

<body class="resume">
    <aside>
        <div class="left-nav">
            <button onclick="print_resume()">Print</button>
            <a href="{{ site.baseurl }}/">Home</a>
        </div>
        <address>
            <h1>Stephen Smithwick</h1>

            <ul>
                <li class="location">Colorado Springs, Colorado</li>
                <li class="phone"><a href="tel:+12065578012">206-557-8012</a></li>
                <li class="email"><a href="mailto:stephen.smithwick@gmail.com"
                        subject="Job Offer:">stephen.smithwick<WBR>@gmail.com</a></li>
                <li class="github"><a href="https://github.com/stephensmithwick">github.com/<WBR>stephensmithwick</a>
                </li>
            </ul>
        </address>
    </aside>
    <article>
        {{ content }}
    </article>
    <script>
        function print_resume() {
            const sidebar = document.getElementsByTagName('aside')[0];
            const address = sidebar.getElementsByTagName('address')[0];
            const article = document.getElementsByTagName('article')[0];

            const pages = article.clientHeight / address.clientHeight;

            for (var i = 1; i < pages; i++) {
                var next = address.cloneNode(true);
                next.removeAttribute('id');
                next.setAttribute('class', 'for-printing');
                sidebar.insertBefore(next, null);
                console.log({sidebar: document.getElementsByTagName('aside')[0].clientHeight, article: article.clientHeight})
            }

            window.print();
        }
    </script>
</body>

</html>
